<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
            /WEB-INF/classes/spring/panopticon-gwt-context.xml
        </param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>ServiceServlet</servlet-name>
		<servlet-class>org.scriptbox.util.gwt.server.remote.ServiceInstanceServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SessionsServlet</display-name>
		<servlet-name>SessionsServlet</servlet-name>
		<servlet-class>com.ihg.loadtests.sessions.servlet.SessionsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServiceServlet</servlet-name>
		<url-pattern>/panopticon/remote/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SessionsServlet</servlet-name>
		<url-pattern>/SessionsServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>Panopticon.html</welcome-file>
	</welcome-file-list>
</web-app>
